/*resetar CSS do meu projeto*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-principal: blue;
    --tamanho-espacamento: 1rem;
}

nav {
    background-color: var(--cor-principal);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 5px;
    text-decoration: none;
}

h1 {
    color: var(--cor-principal);

}
main{
    padding: 1rem;
}

main img {
    width: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 8px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right !important;
}

main h1 {
    border-bottom: 1px solid blue
}
main p {
    margin-top: 8px;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    color: #333;
    text-align: center;
    position: relative;
    margin: 20px;

}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: var(--tamanho-espacamento);
    border-top: 1px solid #000;
    text-align: center;
}

/* seletores de classes */
.caixa {
    border: 1px solid rgb(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
    background-color: #eee
}

.indentacao{
    padding-left: 2rem;
}

.grid {
    display: grid;
}

.grid aside {
    grid-row: 1/2;
    grid-column: 1/2;
}
.grid main {
    grid-row: 1/2;
    grid-column: 2/3;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}